* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    padding-top: 80px;
    padding-bottom: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    border: none;
    cursor: pointer;
}

.hidden {
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding-inline: 35px;
}

.right_icons {
    display: flex;
    align-items: center;
    gap: 50px;
}
.right_icons-search {
    width: 208px;
    height: 60px;
    border-radius: 15px;
    background-color: #E6E6E6;
    padding-inline: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#one {
    width: 130px;
    height: 60px;
    border: none;
    background-color: #E6E6E6;
    outline: none;

    /* style text */
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.176px;
}

.employee {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.left_box {
    width: 800px;
    height: 700px;
    background-color: #80CAFF;
}
.right_box {
    width: 500px;
    border: 2px solid #E6E6E6;
    border-radius: 15px;
    padding: 15px;
}
.right_box h1 {
    color: #1E1E1E;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 120px */
    letter-spacing: -1.76px;
}
.right_box p {
    color: #1E1E1E;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 72px */
    letter-spacing: -0.912px;
}

.body_text {
    width: 1300px;
    border: 2px solid #E6E6E6;
    border-radius: 15px;
    margin: 100px auto 0;
    padding: 15px;  
}
.body_text p {
    color: #1E1E1E;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 48px */
    letter-spacing: -0.608px;
}

.footer {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border: 2px solid wheat;
    border-radius: 20px;
    margin: 40px auto 0;
    padding: 15px;
}

.footer_links-box h2 {
    color: #1E1E1E;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    letter-spacing: -0.456px;
    margin-bottom: 15px;
}
.footer_links-box a, p{
    color: #1E1E1E;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    letter-spacing: -0.456px;
    text-decoration: none;
}