* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    padding-top: 80px;
    padding-bottom: 5px;
    padding-inline: 64px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    border: none;
    cursor: pointer;
}

.hidden {
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding-inline: 35px;
}

.right_icons {
    display: flex;
    align-items: center;
    gap: 50px;
}
.right_icons-search {
    width: 208px;
    height: 60px;
    border-radius: 15px;
    background-color: #E6E6E6;
    padding-inline: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#one {
    width: 130px;
    height: 60px;
    border: none;
    background-color: #E6E6E6;
    outline: none;

    /* style text */
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.176px;
}

.review h1 {
    color: #1E1E1E;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 84px */
    letter-spacing: -1.232px;
    margin-block: 30px;
}
.first_input {
    width: 90%;
    height: 80px;
    border: 1px solid #E6E6E6;
    border-radius: 15px;
    font-size: 28px;
    padding: 15px;
}
.second_input {
    width: 90%;
    height: 768px;
    top: 576px;
    left: 64px;
    border: 1px solid #E6E6E6;
    border-radius: 15px;
    font-size: 30px;
    text-align: start;
    padding: 15px;
}
.inp_btn {
    width: 304px;
    height: 80px;
    border-radius: 10px;
    margin-block: 40px;

    color: #1E1E1E;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 84px */
    letter-spacing: -1.064px;
}
#first {
    border: 1px solid #BDE3FF;
}
#second {
    border: 1px solid #FF7A72;
    background-color: #FFDAD8;
}

.user_aboutas {
    width: 90%;
    border: 2px solid #FCD19C;
    background-color: #FFF8F0;
    border-radius: 15px;
    margin: 0 auto;
    padding: 50px;
    margin-top: 35px;
}
.user_icon-and-name_box {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 25px;
}
.user_name h1 {
    color: #1E1E1E;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 84px */
    letter-spacing: -1.064px;
}
.user_text p {
    color: #1E1E1E;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 48px */
    letter-spacing: -0.608px;
    margin-block: 18px;
}

.footer {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border: 2px solid wheat;
    border-radius: 20px;
    margin: 40px auto 0;
    padding: 15px;
}

.footer_links-box h2 {
    color: #1E1E1E;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    letter-spacing: -0.456px;
    margin-bottom: 15px;
}
.footer_links-box a, p{
    color: #1E1E1E;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    letter-spacing: -0.456px;
    text-decoration: none;
}